@page "/about"
@using Blazored.Toast.Services
@inject IToastService ToastService
@inject NavigationManager navigationManager

<h3 class="home-title">About Us</h3>

<p class="aboutusopening">
   <i><b>HalalOnTheGo - your premier destination for convenient access to high-quality halal butchered meats.</b></i></p>
   
 <p class="text">
We are proud to announce our partnership with Sheffield Universities, bringing a unique service tailored exclusively for their students. At HalalOnTheGo, we understand the importance of adhering to dietary preferences and cultural practices, which is why we strive to make halal options easily accessible to all. With our seamless online platform, students can now conveniently purchase a variety of halal meats, ensuring their dietary needs are met without compromise. Our commitment to quality, convenience, and cultural inclusivity sets us apart as the go-to source for halal meats on the go. Join us in our mission to provide delicious, halal-certified meats to the vibrant student community of Sheffield Universities.
 </p>

 <h4>What WE offer:</h4>
 <p class="text">
We offer an <b><i>essential</i></b> variety of halal butchered meats
 </p>
 <h4>What YOU need: </h4>
 <p class="text">
HalalOnTheGo is your universities BEST recommendation for Halal Butchered meat services direct to your door, whether you aare a student living at home or at sheffields one of many luscious and extravagent university accomodations, we've got you covered! All YOU need is your university credentials including your <span class ="details" style= "text-decoration:underline"><i>University ID, University Email and Password!</i></span> 
 </p>

