@page "/about"
@using Blazored.Toast.Services
@inject IToastService ToastService
@inject NavigationManager navigationManager

<h3 class="home-title">About Us</h3>

<p class="aboutusopening">
   <i><b>HalalOnTheGo - your premier destination for convenient access to high-quality halal butchered meats.</b></i></p>
   
 <p class="text">
We are proud to announce our partnership with Sheffield Universities, bringing a unique service tailored exclusively for their students. At HalalOnTheGo, we understand the importance of adhering to dietary preferences and cultural practices, which is why we strive to make halal options easily accessible to all. With our seamless online platform, students can now conveniently purchase a variety of halal meats, ensuring their dietary needs are met without compromise. Our commitment to quality, convenience, and cultural inclusivity sets us apart as the go-to source for halal meats on the go. Join us in our mission to provide delicious, halal-certified meats to the vibrant student community of Sheffield Universities.
 </p>

 <h4>What WE offer:</h4>
 
 <p class="text">
     At HalalOnTheGo, we understand the importance of adhering to dietary preferences and cultural practices, which is why we strive to make halal options easily accessible to all. 
 </p>
 <div class ="dotted-options-border">
 <p class="text">
We offer an <b><i>essential</i></b> variety of halal butchered meats, such as:
 </p>
 <li><a href="/mutton"><b>Mutton Options</b></a></li> 
 <li><a href="/meat"><b>Lamb Options</b></a></li> 
 <li><a href="/chicken"><b>Chicken Options</b></a></li> 
 <br />
</div>
 <p class="text">
     <br />
Our categories boast a diverse range, from succulent lamb chops to finely minced chicken and lamb, and an assortment of mutton cuts. For those seeking premium quality, we feature chicken breasts and even the elusive full chicken. Why not <a href="/chicken"><i>
<b>browse the collection</b></i></a> now!
 </p>
 <p class="text"></p>
 <h4>What YOU need: </h4>
 <p class="text">
HalalOnTheGo is your universities BEST recommendation for Halal Butchered meat services direct to your door, whether you aare a student living at home or at sheffields one of many luscious and extravagent university accomodations, we've got you covered! All YOU need is your university credentials including your <span class ="details" style= "text-decoration:underline"><i>University ID, University Email and Password!</i></span> 
 </p>

 <h4 class="heading">Customer Reviews</h4>

<div class="about-grid-container">


  <div class="about-line">
      <p class="text">
  I was really impressed with the honest service from GSM World. 
   <br/>
    <br/>
  No jargon approach by the owner and a very reasonable price for a complete new screen on my Huawei P30 lite.
   <br/>
    <br/>
I would and have highly recommended this shop as your go to for anything mobile phone related.
 <br/>
    <br/>

Thankyou so much
 <br/>
    <br/>

~ James
</p>

    </div>
    <p class="text">
   Amazing Shop! 
   <br/>
    <br/>
   Great value for money of all gadgets repairs, 
   <br/>
    <br/>
   They do all thier work in-house and have a well equipped workshop. 
   <br/>
    <br/>
   Also offer money transfer service.
   <br/>
    <br/>
    <br/>
    <br/>

    ~ Auzair
</p>

</div>