@page "/halalcertification"

<h3 class="home-title">HalalOnTheGo(LTD) Halal Dietary Standards</h3>
<br />
<h4 class ="heading">What is HALAL Meat?</h4>
<div class = "dotted-options-border">
<p class ="text"> Halal Meat refers to the <i><b>islamic</b></i> form of animal slaughtering. It involves the cutting of the animals <b>jugular</b> vein, cartoid artery and windpipe. The reason for this is it ensures the least pain is being inflicted on the animal at the time of slaughter, as well as ensuring the quickest way of slaughter.</p>
</div>
<br />
<img class="knifebutcher" src="/Images/Halal-Knife-butcher.png" />
<p class ="bbccred">credit: BBC - Halal Meats</p>

<br />
<h4 class ="heading">Our Halal Certification</h4>
<div class = "dotted-options-border">
<p class="text"><i>We work closely with Sheffiled Universities, including <b>Hallam</b> and <b>University Of Sheffield</b> as well as the <b>International Halal Certification</b> body. Using the <b>IHC</b> Halal Scheme to ensure our meat is thoroughly tested and certified at all stages of production. <a href="https://international-halal.com">Visit The IHC for more information. </a></i></p>
</div>
<br />
<br />
<ol>
    <li><b><u>Stun-Free Meat:</u></b> We strictly adhere to the Islamic practice of slaughtering animals without stunning. This ensures that the animal's life ends swiftly and without unnecessary pain or distress.</li>
    <br />
    <li><b><u>Quranic Recitation:</u></b> Before the slaughter, our trained personnel recite the appropriate Quranic verses, invoking the name of Allah to bless the process. This ritual is performed to ensure that the animal's sacrifice is carried out in accordance with Islamic teachings, minimizing suffering as much as possible.</li>
    <br />
    <li><b><u>Halal Integrity:</u></b>We maintain a comprehensive system of traceability and accountability throughout the entire supply chain, from farm to fork. Our suppliers are carefully selected and regularly audited to ensure they meet our stringent Halal standards.</li>
    <br />
    <li><b><u>Certification:</u></b> Our meats are certified by recognized Halal certifier, <b><u>IHC</u></b>(International Halal Certification) providing our customers with the assurance that they are consuming genuine Halal meats that meet the highest standards of quality and integrity.</li>
</ol>
<p class="text"><b>With HalalOnTheGo, you can trust that every bite you take is not only delicious but also ethically sourced and prepared in accordance with Islamic principles.</b></p>
<br />

<p class ="copyrighttext"><b>© HalalOnTheGo 2024</b> - Dietary adheration procedures are subject to copyright.</p>