@page "/index"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService
@inject ISyncLocalStorageService LocalStorage

<br />
<br />
<br />
<br />
<br />

@if (category != null)
{
    <h3 class="home-title">Here are our current selections of @category.Name:</h3>
    <br>
     <p class="heyhungrystudent"><b>All of our delicious meats are 100% Halal and come in different sizes. <i><u>Select a product of your choosing for more details!</u></i></b></p>
    <ProductList />
   
}
else
{ <AuthorizeView>
    <NotAuthorized>
        <h1>Welcome to HalalOnTheGo - The ONLY halal butcher provider for our students &#129385; &#127869;</h1>
       
        <br>
        <p class = "italic-needs-signin">Hey there, hungry student! Ready to satisfy those taste buds? Dive into our meat selection tailored just for               you! Sign in quick with your university credentials - we've streamlined it for busy bees like you! Click the sign-up or sign-in option in              the navbar to purchase and let's get this culinary adventure started! &#129474;</p>
        <br>
        <p>You are still free to browse our vast selection of premium halal butchered meats, with prices that are aimed directly at students only.</p>
        <ProductList/>
    </NotAuthorized>
    <Authorized>
        <h1>Welcome back to HalalOnTheGo, @LocalStorage.GetItemAsString("email")!</h1>
          <h2>The ONLY halal butcher provider for our students &#129385; &#127869;</h2>
    <p>We hope you find what you need. &#127881;</p> 
        <ProductList/>
    </Authorized>
</AuthorizeView>
    
  
    
}
@code
{

    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
      await ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }

}