@page "/index"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService
@inject ISyncLocalStorageService LocalStorage

@if (category != null)
{
    <h3 class="home-title">Here are our current selections of @category.Name &#129385; &#127869;:</h3>
    <br>
     <p class="heyhungrystudent"><b>All of our delicious meats are 100% Halal and come in different sizes. <i><u>Select a product of your choosing for more details!</u></i></b></p>
    <ProductList />
   
}
else
{ <AuthorizeView>
    <NotAuthorized>
        <h3 class="home-title">Loading, Please wait... &#129385; &#127869;</h3>
       
        <br>
        
        <ProductList/>
    </NotAuthorized>
    <Authorized>
        <h3 class="home-title">Loading, Please wait... &#129385; &#127869;</h3>
        <ProductList/>
    </Authorized>
</AuthorizeView>
    
  
    
}
@code
{

    [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
      await ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }
    }

}