@page "/ordersuccess"

<h3 class="OrderCompleteH3">Order Complete!</h3>
<br />

<h2 style= "text-decoration:solid;">
   Thank you for your order - We will not disappoint!
</h2>
<h4 class="OrderId"> Order #ID: 4242424243</h4>
<span>We've got that! Hang in there, your estimated delivery time is <b>2-4 Working Days...</b> </span>

<br />

<p>
    <br />
   <i class ="EmailSentOutPrompt">An email confirmation detailing delivery address and items has been sent to you.</i>
</p>

@code {

}
