@page "/ordersuccess"


<h3 class="home-title">Order Complete!</h3>
<br />

<h4 class="mb-0">
   Thank you for your order - We will not disappoint!
</h4>
<br />
<br />
<span>We've got that! Hang in there, your estimated delivery time is <b>2-4 Working Days...</b> </span>

<br />

<p>
    <br />
   <i class ="EmailSentOutPrompt">An email confirmation with futher information will be sent shortly.</i>
</p>

<a href="/" class="btn btn-primary">Continue Shopping</a>


@code {

}
