@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<NavMenu />
    <main>
        <div class="top-row px-4">
            <TopMenu/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
            <div class="center">
                <p>2024 @@HALALONTHEGO ALL RIGHTS RESERVED © </p>
            </div>

            <div class="paymentmedia">
                <p class="weaccept"><i>WE ACCEPT:</i></p>
                <img class="applepayGpaypic" src=/Images/ApplepayGooglePay.png width:10px;/>
            </div>
            <img class="stripelogo" src=/Images/powered-by-stripe.png width:10px;/>
</footer>
<BlazoredToasts />
