@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<NavMenu />
    <main>
        <div class="top-row px-4">
            <TopMenu/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
            <div class="center">
                <p>2024 @@HALALONTHEGO ALL RIGHTS RESERVED © </p>
            </div>
</footer>
<BlazoredToasts />
