@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<NavMenu />
    <main>
        <div class="top-row px-4">
            <TopMenu/>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    <footer>
            <div class="center">
                <p class="copyrightfootertext"><i>2024 @@HALALONTHEGO ALL RIGHTS RESERVED ©</i></p>
            </div>

            <div class="paymentmedia">
                <p class="weaccept"><i>WE ACCEPT:</i></p>
                <img class="applepayGpaypic" src=/Images/ApplepayGooglePay.png width:10px;/>
            </div>
            <img class="stripelogo" src=/Images/powered-by-stripe.png width:10px;/>
            <img class="footerlogo" src=/Images/HalalOnTheGoLogo.png width:10px;/>
            
            <div class="unisupport">
            <p class="footertext"><i>Fueling local universities</i></p>
            <img class="footeruos" src="/Images/Uni of sheff logo.png" />
            <img class="footershu" src="/Images/Hallam Logo.png" />
            </div>
</footer>
<BlazoredToasts />
