@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject IToastService ToastService

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-expand justify-content-center @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item align-content-center">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                 
                <li class="nav-item text-center" >
                    <NavLink class="nav-link " href="/about" Match="NavLinkMatch.All">
                        <span class="oi oi-info" aria-hidden="true"></span> About HalalOnTheGo
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/halalcertification" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Our Halal Certification
                    </NavLink>
                </li>
                <li class = "dropdown-divider"> </li>
            @foreach (var category in CategoryService.Categories)
            {
                <li class="nav-item px-3">
             <NavLink class="nav-link" href="@category.Url">
                <span class="oi oi-@category.Icon" aria-hidden="true"></span> @category.Name
            </NavLink>
             </li>
               
            }
                 <li class="nav-item">
                     <AuthorizeView>
                 <NotAuthorized>
             <NavLink class="nav-link" href="login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
            </NotAuthorized>
            <Authorized>
             
                <a class="nav-link" @onclick="Logout" style="cursor: pointer">
                    <span class="oi oi-person" aria-hidden="true"></span> Logout
                </a>
            </Authorized>
            </AuthorizeView>
             </li>
            </ul>
        </div>
        <a class="navbar-brand justify-content-s" href="/">
        <img src="/Images/HalalOnTheGoLogo.png" alt="LOGO" width:250px class="logo" >    
        </a>
    </div>
</nav>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
     private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await  CategoryService.LoadCategories();
    }

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("email");
       await  AuthStateProvider.GetAuthenticationStateAsync();
    }
}
